.principal {
  margin: 0 auto;
  padding: 0;
}

.sidebar {
  margin: 0 auto;
  padding: 0;
  display: flex;
  position: fixed;

  left: 1%;
  top: 3%;
  width: 20%;
  height: 92%;

  border-radius: 10px;
  background-color: rgb(65, 58, 58);
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.body {
  display: flex;
  position: fixed;

  left: 23.5%;
  right: 1%;
  top: 3%;
  width: auto;
  height: 95%;

  border-radius: 10px;
  flex-direction: column;
}
