.principal {
  margin: 0 auto;
  padding: 0;
}

.sidebar {
  margin: 0 auto;
  padding: 0;
  display: flex;
  position: fixed;
  left: 2vh;
  top: 3.3vh;
  width: 20%;
  height: 92vh;
  border-radius: 20px;
  background-color: rgb(65, 58, 58);
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.body {
  border: white solid 1px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  position: fixed;
  right: 2vh;
  top: 2vh;
  width: 74%;
  height: 93vh;
  border-radius: 20px;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}
